In [1]:
from ga import *
import pandas as pd, numpy as np
result_df = pd.read_csv('./val_result_18/result_18_2013-01-01.csv').drop(['Unnamed: 0'], axis=1)
pd.set_option('display.max_columns', None)
result_df.head()

,predict,p0,p1,p2,p3,class,model0_truth,model1_truth,model2_truth,p0/t0,p1/t1,p2/t2,p3/t3,predict/t,max_proba,model0_pred/t,model1_pred/t,model2_pred/t
0,2,0.323306,0.110137,0.369493,0.197063,2,1,1,0,0.323306,0.110137,0.369493,0.197063,2,0.369493,1,1,0
1,1,0.268558,0.458089,0.139075,0.134279,1,1,0,0,0.268558,0.458089,0.139075,0.134279,1,0.458089,1,0,0
2,3,0.192220,0.192220,0.231121,0.384439,2,1,1,0,0.192220,0.192220,0.231121,0.384439,3,0.384439,1,1,1
3,3,0.100000,0.300000,0.200000,0.400000,0,0,0,0,0.100000,0.300000,0.200000,0.400000,3,0.400000,1,1,1
4,3,0.365001,0.148332,0.000000,0.486668,0,0,0,0,0.365001,0.148332,0.000000,0.486668,3,0.486668,1,1,1

In [2]:
# genetic algorithm
# return a list containing four theta
# it will also print the loss, and best params at the end of optimization

# default parameters
# params = dict(
#     df, 
#     generation=100, 
#     population_size=300, 
#     offspring_size=300, 
#     tourn_size=280, 
#     change_rate=(0.8, 0.4), 
#     pool_size=20, 
#     features=4
# )
ga(result_df)

100%|██████████| 100/100 [03:41<00:00,  2.22s/it]

loss:  [0.0013698452812386111]

{'loss': 0.0013698452812386111, 'theta_0': 0.04299896141104442, 'theta_1': 1, 'theta_2': 0.3356422367296211, 'theta_3': 0.08343313156043175, 'fpr0': 0.07352941176470588, 'fpr1': 0.0898876404494382, 'fpr2': 0.0761904761904762, 'tpr0': 0.1320754716981132, 'tpr1': 0.125, 'tpr2': 0.125}

[[0.04299896141104442, 1, 0.3356422367296211, 0.08343313156043175]]